:root{
    --white-color:#fff;
    --black-color:#111;
    --text-color:#333;
    --primary-color:#0996e2;
    --border-color:#dbdbdb; 
    --star-gold:#FFCE3E;
    --header-height:171px;
    --admin-nav: 15.1875rem;
    --admin-nav-mb: 5rem;
    --shadow-box: rgb(0 0 0 / 30%);
    --shadow-box-light: rgb(0 0 0 / 22%);
    --dk-gray-100: #F3F4F6;
	--dk-gray-200: #E5E7EB;
	--dk-gray-300: #D1D5DB;
	--dk-gray-400: #9CA3AF;
	--dk-gray-500: #6B7280;
	--dk-gray-600: #4B5563;
	--dk-gray-700: #374151;
	--dk-gray-800: #1F2937;
	--dk-gray-900: #111827;
	--dk-dark-bg: #313348;
	--dk-darker-bg: #2a2b3d;
    --sidebar-bg-color: #252636;
    --height-productImg : 150px;
    --min-height-product : 275px;
    --height-productInfo : calc(var(--min-height-product) - var(--height-productImg));
}