:root{
    --white-color:#fff;
    --black-color:#111;
    --text-color:#333;
    --primary-color:#0996e2;
    --border-color:#dbdbdb; 
    --star-gold:#FFCE3E;
    --header-height:171px;
    --admin-nav: 15.1875rem;
    --admin-nav-mb: 5rem;
    --shadow-box: rgb(0 0 0 / 30%);
    --shadow-box-light: rgb(0 0 0 / 22%);
}