#wrapper.show {
  opacity: 1; }

#wrapper {
  overflow: hidden;
  transition: all 0.25s ease-in;
  position: relative;
  opacity: 0; }

a {
  color: var(--black-color);
  text-decoration: none; }

a:hover {
  text-decoration: none; }

/*NAV HEADER*/
.nav-header {
  background-color: var(--primary-color);
  height: 5rem;
  display: block;
  text-align: left;
  left: 0;
  top: 0;
  transition: all 0.2s ease-in; }

.nav-header__logo {
  display: block; }

.nav-header__logo a {
  display: block;
  text-decoration: none;
  padding: 1.607rem 2.463rem; }

.nav-header__brand {
  display: block;
  color: var(--white-color); }

.nav-header__brand img {
  width: 100%;
  display: block; }

/*MENU*/
.menu__wrapper {
  display: block;
  height: calc(100vh - 5rem); }

.menu__list {
  padding: 15px;
  padding-bottom: 0; }

.menu__item {
  padding-bottom: 15px;
  position: relative;
  cursor: pointer; }

.menu__icon {
  font-size: 1.25rem;
  padding-right: 15px; }

.menu__text {
  font-size: 1.125rem;
  position: absolute;
  left: 2.5rem;
  top: -3px; }

.menu__text:hover {
  color: #009688;
  text-decoration: none;
  font-weight: bold; }

.menu__list-down {
  margin: 0 0 0 15px;
  padding: 0; }

.menu__item-down {
  margin: 10px 0 0; }

.menu__link-down {
  text-decoration: none;
  color: #484848;
  font-weight: 400;
  padding: 10px 16px 0;
  font-size: 1.125rem; }

.menu__link-down::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 8px;
  height: 2px;
  background: #cfcfcf;
  vertical-align: middle;
  transition: all .15s ease-out; }

.icon__dropdown {
  position: absolute;
  right: 0;
  top: 1px; }

/*HEADER*/
/** -------------------------------- 
-- welcome
-------------------------------- */
.home__data-text {
  color: var(--black-color);
  padding: 0 10px; }

.home__text-note {
  padding: 5px 0 0 10px;
  color: var(--text-color); }

.p-4 {
  background-color: var(--dk-gray-300); }

.welcome {
  color: var(--dk-dark-bg);
  padding: 0 8px; }

.welcome .content {
  background-color: var(--white-color); }

.welcome p {
  color: var(--dk-gray-800); }

/** --------------------------------
-- Statistics
-------------------------------- */
.statistics {
  color: var(--dk-gray-200); }

.statistics .box {
  background-color: var(--white-color); }

.statistics .box i {
  width: 60px;
  height: 60px;
  line-height: 60px; }

/** --------------------------------
 -- Charts
-------------------------------- */
.charts .chart-container {
  background-color: var(--white-color); }

.charts .chart-container h3 {
  color: var(--dk-gray-400); }

/** --------------------------------
-- users
-------------------------------- */
.admins .box .admin {
  background-color: var(--white-color); }

.text_admin-name {
  color: var(--black-color); }

.text_admin-role span {
  color: var(--black-color); }

/** --------------------------------
-- statis
-------------------------------- */
.statis {
  color: var(--dk-gray-100); }

.statis .box {
  position: relative;
  overflow: hidden;
  border-radius: 3px; }

.statis .box h3:after {
  content: "";
  height: 2px;
  width: 70%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.12);
  display: block;
  margin-top: 10px; }

.statis .box i {
  position: absolute;
  height: 70px;
  width: 70px;
  font-size: 22px;
  padding: 15px;
  top: -25px;
  left: -25px;
  background-color: rgba(255, 255, 255, 0.15);
  line-height: 60px;
  text-align: right;
  border-radius: 50%; }

.progress {
  vertical-align: baseline; }

.text-muted {
  color: #8898aa !important; }

.tdl-holder {
  margin: 0 auto; }

.tdl-holder ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.tdl-holder li {
  background-color: transparent;
  border-bottom: 1px solid #f3f3f3;
  list-style: none none;
  margin: 0;
  padding: 0; }

.tdl-holder li span {
  margin-left: 35px;
  font-weight: 500;
  vertical-align: middle;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all 0.2s linear; }

.tdl-holder label {
  cursor: pointer;
  display: block;
  line-height: 52px;
  padding-left: 1.5rem;
  position: relative;
  margin: 0 !important;
  color: #464a53; }

.tdl-holder label a {
  color: #464a53;
  line-height: normal;
  height: 100%;
  text-align: center;
  text-decoration: none;
  width: 50px;
  transition: all 0.2s linear;
  padding: 18px 0px;
  font-size: 18px;
  display: flex;
  position: absolute;
  right: 0;
  display: inline-block; }

.tdl-holder input[type=checkbox] {
  cursor: pointer;
  opacity: 0;
  position: absolute; }

.tdl-holder input[type=checkbox] + i {
  background-color: #ddd;
  display: block;
  height: 20px;
  position: absolute;
  top: 15px;
  width: 20px;
  z-index: 1; }

.tdl-holder input[type=checkbox]:checked + i {
  border-color: #464a53; }

.tdl-holder input[type=checkbox]:checked + i::after {
  content: "\f00c";
  font-family: 'fontAwesome';
  display: block;
  left: 1px;
  position: absolute;
  top: -17px;
  z-index: 2;
  color: #162336; }

.tdl-holder input[type=checkbox]:checked ~ span {
  text-decoration: line-through;
  position: relative; }

.tdl-holder input[type=text] {
  background-color: #fff;
  height: 40px;
  margin-top: 40px;
  border-radius: 0.625rem;
  border-color: rgba(22, 35, 54, 0.5);
  color: #464a53; }

.main-color {
  color: #ffc107; }

.header {
  background-color: var(--white-color);
  height: 5rem;
  z-index: 1;
  position: relative;
  padding: 0 0.9375rem;
  margin-left: var(--admin-nav);
  transition: all .2s ease; }

.header-content {
  height: 100%; }

.header-right {
  float: right;
  height: 100%;
  line-height: 3rem;
  margin-top: 0; }

.header-right__list {
  height: 100%;
  margin: 0; }

.header-right__item {
  float: left;
  margin: 0;
  padding: 0 1.0125rem;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center; }

.header-right__icon {
  font-size: 1.563rem;
  cursor: pointer; }

.header-right__notice {
  position: absolute;
  background-color: #ff4b5a;
  display: inline-block;
  width: 15px;
  height: 15px;
  color: var(--white-color);
  top: 24px;
  right: 8px;
  line-height: 15px;
  text-align: center;
  border-radius: 100%;
  font-size: 12px; }

.header-right__user {
  cursor: pointer; }

.header-right__user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid var(--white-color);
  box-shadow: 0px 0px 20px 0px var(--shadow-box-light); }

/*MAIN*/
.main {
  background-color: #f3f3f9; }

.title-table,
.card-header {
  padding: 15px 10px 0;
  text-align: center;
  text-transform: uppercase; }

.card-header {
  padding: 10px 0;
  font-size: 22px;
  font-weight: bold; }

.btn__add {
  text-transform: uppercase; }

.table-data__tool {
  padding: 0 15px 15px; }

.table-data__tool--left {
  justify-content: flex-start; }

.input__wrapper {
  display: flex; }

.input__search {
  font-size: 16px;
  position: relative; }

.input__search--icon {
  position: absolute;
  right: 7%;
  top: 30%;
  cursor: pointer; }

.select__input {
  width: 60%; }

.table-data__tool--right {
  justify-content: flex-end; }

.table-data__wrapper {
  padding: 0 15px 15px; }

.table-data__content {
  background-color: var(--white-color);
  width: 100%; }

.table-data__content tr th {
  text-align: center;
  padding: 8px 0; }

table td.shrink {
  max-width: 100px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis; }

.content-hidden {
  display: none; }

.modal-content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 400px;
  margin-bottom: 10px; }

.modal-title {
  color: #009688;
  font-style: bold;
  font-weight: 700; }

@keyframes popUP {
  from {
    top: -100px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes popDOWN {
  from {
    top: 0;
    opacity: 1; }
  to {
    top: 1000px;
    opacity: 0; } }

/*Modal*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none; }

.modal-container {
  background-color: #fff;
  width: 900px;
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease 0.7s;
  margin: 80px auto 0;
  border-radius: 6px;
  animation: popUP linear .25s; }

.modal-containe--tall {
  background-color: #fff;
  width: 900px;
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease 0.7s;
  margin: 20px auto 0;
  border-radius: 6px;
  animation: popUP linear .25s; }

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 12px;
  color: #fff; }

.modal-close:hover {
  color: #000;
  cursor: pointer; }

.modal-header {
  background-color: #009688;
  color: #fff;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px; }

.modal-header-icon {
  margin-right: 16px;
  text-transform: uppercase; }

.modal-body {
  padding: 16px; }

.modal-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  float: left;
  margin-top: 10px; }

.modal-box {
  flex: 1; }

.modal-wrap {
  display: flex; }

.modal-label {
  display: block;
  margin-bottom: 15px; }

.modal-label--tall {
  display: block; }

.modal-label--detail {
  margin: 5px 15px 8px; }

.modal-heading--detail {
  padding-left: 12px;
  font-size: 14px; }

.modal-label__checkbox {
  margin-bottom: 15px; }

.modal-input {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 15px;
  margin-bottom: 24px;
  border-radius: 5px; }

.modal-input--tall {
  padding: 5px;
  border: 1px solid #ccc;
  width: 90%;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 10px; }

.modal-input__select {
  padding: 10px;
  border: 1px solid #ccc;
  width: 85%;
  font-size: 15px;
  border-radius: 5px; }

.modal-input__checkbox {
  margin-left: 10px; }

.modal-input:focus {
  border: 1px solid var(--black-color);
  border-radius: 5px; }

.modal__btn {
  padding: 10px;
  border: 1px solid #009688;
  border-radius: 3px;
  color: var(--black-color);
  background-color: var(--white-color);
  text-transform: uppercase;
  width: 20%;
  margin-left: auto;
  display: block; }

.js-modal-container-detail {
  width: 1280px;
  margin: 40px auto 0; }

.btnBack {
  margin-top: 15px;
  text-align: center;
  text-decoration: none; }

.btnBack:hover {
  text-decoration: none;
  color: var(--black-color); }

.modal__btn:hover {
  background-color: #009688;
  color: var(--white-color); }

.table-data__image {
  width: 98%; }

.table-data__content td {
  text-align: center; }

.table-descritpion {
  text-align: left !important;
  padding: 0 5px 0 20px; }

.table-descritpion span {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.table-data__edit {
  cursor: pointer;
  position: relative; }

.table-data__edit:hover {
  color: blue; }

.table-data__delete {
  cursor: pointer;
  position: relative; }

.table-data__icon {
  position: absolute;
  top: -8px; }

.table-data__icon.fa-edit {
  left: -22px; }

.table-data__icon.fa-trash {
  right: -22px; }

.data-status {
  display: block;
  text-align: center; }

.data-status__on, .data-status__on:hove {
  color: #009688; }

.data-status__off, .data-status__off:hover {
  color: #ff4b5a; }

.data-image__add {
  color: blue; }

.data-image__add:hover {
  opacity: 0.8; }

.input-group__checkbox {
  margin: auto 10px auto 20px; }

.input-group-text {
  min-width: 150px;
  justify-content: center; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.input__discount {
  margin: auto 12px; }

.span__discount {
  display: flex;
  align-items: center; }

.edit__checkbox {
  margin: auto 12px; }

.input__checkbox {
  display: flex; }

.input__check {
  width: 50% !important; }

#detaildescription {
  height: 100px; }

#imagePreview {
  margin: auto;
  width: 300px; }
