<div class="header">
    <div class="header-content clearfix">
        <div class="header-right">
            <ul class="header-right__list">
                <li class="header-right__item">
                    <i class="header-right__icon ti-email"></i>
                    <span class="header-right__notice">3</span>
                </li>
                <li class="header-right__item">
                    <i class="header-right__icon ti-bell"></i>
                    <span class="header-right__notice">1</span>
                </li>
                <li class="header-right__item">
                    <div class="header-right__user" id="customer">
                        <img src="/image/Customer/{{image}}" alt="" class="header-right__user-img">
                        <span>{{username}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>