<div class="c-2 col-md-2 col-sm-2">
    <!-- NAV HEADER -->
    <div class="nav-header">
        <div class="nav-header__logo">
            <a href="">
                <b class="nav-header__brand">
                    APUS TAROT SHOP
                </b>
            </a>
        </div>
    </div>
    <!-- MENU -->
    <div class="menu__wrapper">
        <ul class="menu__list">
            <li class="menu__item">
                <i class="menu__icon fas fa-list"></i>
                <a href="/admin/category/list" class="menu__text">Danh Mục</a>
            </li>
            <li class="menu__item">
                <i class="menu__icon fas fa-cube"></i>
                <a href="/admin/product/list" class="menu__text">Sản Phẩm</a>
                <i class="menu__icon icon__dropdown fas fa-angle-right"></i>
            </li>
            <li class="menu__item">
                <i class="menu__icon fas fa-box"></i>
                <a href="" class="menu__text">Đơn Hàng</a>
                <i class="menu__icon icon__dropdown fas fa-angle-right"></i>
            </li>
            <li class="menu__item">
                <i class="menu__icon fas fa-user"></i>
                <a href="/admin/user" class="menu__text">Tài Khoản</a>
                <i class="menu__icon icon__dropdown fas fa-angle-right"></i>
            </li>
            <li class="menu__item">
                <i class="menu__icon fas fa-sliders-h"></i>
                <a href="" class="menu__text">Slider</a>
            </li>
        </ul>
    </div>
</div>