<div class="c-12 header-slider">
    <div id="mySlider">
        {{#each slider}}
            <div id="slide{{this.id}}" class='singleSlide sliders' style='background-image:url("/image/Slide/{{this.image}}");'>
                <div class="slideOverlay">
                    {{#if this.text}}
                    <h1 class="slide__title">{{this.text}}</h1>
                    {{/if}}
                    {{#if this.detail}}
                    <h4 class="slide__detail">{{this.detail}}</h4>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>
    <div id="sliderNav">
        <div id="sliderPrev" onclick="prevSlide();" class="slideButton">
            <img src="https://nguyenvanhieu.vn/wp-content/uploads/2020/09/left-arrow.png" alt="">
        </div>
        <div id="sliderNext" onclick="nextSlide();" class="slideButton">
            <img src="https://nguyenvanhieu.vn/wp-content/uploads/2020/09/right-arrow.png" alt="">
        </div>
    </div>
</div>