<div class="c-12 header-slider">
    <div id="mySlider">
    </div>
    <div id="sliderNav">
        <div id="sliderPrev" onclick="prevSlide();" class="slideButton">
            <img src="https://nguyenvanhieu.vn/wp-content/uploads/2020/09/left-arrow.png" alt="">
        </div>
        <div id="sliderNext" onclick="nextSlide();" class="slideButton">
            <img src="https://nguyenvanhieu.vn/wp-content/uploads/2020/09/right-arrow.png" alt="">
        </div>
    </div>
</div>