<main class="main">
    <div class="navsub-header">
        <div class="navsub-header__wrapper">
            <div class="navsub-header__box">
                <div class="grid wide">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="navsub-header__list">
                                <li class="navsub-header__item">
                                    <a href="" class="navsub-header__link">HOME</a>
                                </li>
                                <li class="navsub-header__item">
                                    <a href="" class="navsub-header__link">SHOP</a>
                                </li>
                                <li class="navsub-header__item">
                                    <span class="navsub-header__content">GIỚI THIỆU VỀ APUS TAROT SHOP</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid wide">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="introduce__wrapper">
                    <div class="row introduce__container">
                        <div class="col-md-12 col-sm-12">
                            <div class="introduce__innerWrapper">
                                <div class="introduce__innerContent">
                                    <div class="introduce__title-wrapper">
                                        <h3 class="introduce__title">
                                            ƯU ĐÃI KHI MUA HÀNG
                                        </h3>
                                        <h4 class="introduce__title-sub">
                                            Khi mua hàng tại Apus bạn sẽ nhận được rất nhiều ưu đãi và dịch vụ hậu mãi về sau.
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="introduce__innerWrapper">
                                <div class="introduce__innerContent">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="introduce__text-wrapper">
                                <h3 class="introduce__text">
                                    Quà tặng đi kèm
                                </h3>
                                <div class="introduce__text-sub">
                                    <p>
                                        Khi mua bài tại Apus với đơn hàng từ 750000 trở lên,các bạn sẽ được tặng kèm túi nhung đựng bài, đá thạch anh thanh tẩy và 
                                        tài liệu tự học online do Apus tự dịch. Ngoài ra các phụ kiện đi kèm cũng được trợ giá 20.000-50.000/ sản phẩm
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="introduce__text-wrapper">
                                <h3 class="introduce__text">
                                    Giảm giá trực tiếp
                                </h3>
                                <div class="introduce__text-sub">
                                    <p>
                                        Giảm 50k vào ngày sinh nhật ( áp dụng trong 1 tuần sinh nhật đối với khách hàng đã từng mua hàng ). Để hưởng ưu đãi các bạn đừng quên mang CMTND hoặc giấy tờ hợp lệ có ngày sinh nha.
                                    </p>
                                    <p>
                                        Giảm 50k khi order bài tại shop, áp dụng với bộ bài chưa có sẵn tại shop hoặc đã hết hàng. Để hưởng ưu đãi, các bạn vui long cọc 100% giá trị sản phẩm cho shop.
                                    </p>
                                    <p>
                                        Giảm 50k cho bộ bài thứ 3 mua tại shop.
                                    </p>
                                    <p>
                                        Lưu ý: không áp dụng song song các chương trình
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="introduce__text-wrapper">
                                <h3 class="introduce__text">
                                    Tư vấn vĩnh viễn
                                </h3>
                                <div class="introduce__text-sub">
                                    <p>
                                        Trong quá trình học Tarot, các bạn hoàn toàn có thể inbox cho Apus để Apus giúp bạn giải đáp vướng mắc, khó khăn bất cứ lúc nào.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>